@font-face {
    font-family: 'Contemporary';
    font-style: normal;
    font-weight: 400;
    src: local('Contemporary'), local('Contemporary-Regular'), url('https://vicr123.com/typeface/Contemporary-Regular.ttf');
}

* {
    font-family: Contemporary;
}

body {
    background: rgb(40, 40, 40);
    color: white;
    font-size: 10pt;
    cursor: default;
    
    margin: 0px;
}

h1 {
    font-weight: normal;
    font-size: 20pt;
    margin: 0px;
}

p {
    margin-top: 3px;
    margin-bottom: 3px;
}

[class^="icon-"]:before {
    font-size: 16px;
}

.button {
    display: inline-flex;
    background-color: rgb(0, 0, 200);
    color: white;
    padding: 7px;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(0, 0, 255);
}

.button:active {
    background-color: rgb(0, 0, 100);
}

.button.flat {
    background-color: rgb(40, 40, 40);
}

.button.flat:hover {
    background-color: rgb(60, 60, 60);
}

.button.flat:active {
    background-color: rgb(20, 20, 20);
}

.button.destructive {
    background-color: rgb(200, 0, 0);
}

.button.destructive:hover {
    background-color: rgb(250, 0, 0);
}

.button.destructive:active {
    background-color: rgb(150, 0, 0);
}

#modalContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    
    display: none;
}

#modalContainer.active {
    display: block;
}

.modalBackground {
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.75);
}

.modalBox {
    right: 0px;
    height: 100vh;
    position: fixed;
    background: rgb(40, 40, 40);
    border-left: 1px solid white;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
}

.containerVertical {
    display: flex;
    flex-direction: column;
}

.containerHorizontal {
    display: flex;
    flex-direction: row;
}

.containerCenter {
    align-items: center;
    justify-content: center;
}

.containerPadded {
    padding: 9px;
}

.horizontalLine {
    background-color: white;
    height: 1px;
    min-height: 1px;
}

.grow {
    flex-grow: 1;
}

.header {
    border-bottom: 1px solid white;
}

.headerTitle {
    font-size: 20pt;
    padding: 9px;
}

.sidebar {
    max-width: 300px;
    width: 300px;
    border-right: 1px solid white;
}

.sidebar .listItem {
    padding: 3px;
    margin: 0px;
}

.sidebar .listItem:hover {
    background-color: rgb(20, 60, 105);
}

.sidebar .listItem.selected {
    background-color: rgb(0, 80, 170);
}

.heading {
    display: flex;
    border-bottom: 1px solid white;
}

.heading span {
    padding: 9px;
    font-size: 15pt;
    flex-grow: 1;
}

.paneGroup {
    padding: 9px;
    border-bottom: 1px solid white;
}

.paneGroupTitle {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.cmdlink {
    padding-top: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-left: 4px;
    
    align-items: start;
}

.cmdlinkDescriptionIcon {
    visibility: hidden;
}

input[type="text"] {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgb(40, 40, 40);
    color: white;
    border-top: none;
    border-right: none;
    padding: 3px;
    outline: none;
}